<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.myapp.mapper.BbsMapper">
    <!--글 목록 조회 -->
    <select id="bbsSelectList" resultType="com.example.myapp.bbs.vo.BbsVO">
        SELECT BBSID
             , BBSTITLE
             , BBSCONTENT
             , BBSDATE
             , BBSNAME
             , BBSAVAILABLE
          FROM BBS
         WHERE BBSAVAILABLE = '1'
    </select>

    <!--user insert-->
    <insert id="userInsert">
        INSERT INTO USER
             ( NAME
             , ID
             , PWD
             , EMAIL
             )
        VALUES
             ( #{userName}
             , #{userID}
             , #{userPwd}
             , #{userEmail}
             )
    </insert>

    <!--user ID cnt -->
    <select id="idCnt" resultType="int">
        SELECT COUNT(*)
          FROM USER
         WHERE id = #{userID}
    </select>

    <!--write insert-->
    <insert id="writeInsert">
        INSERT INTO BBS
        ( BBSID
        , BBSTITLE
        , BBSCONTENT
        , BBSDATE
        , BBSNAME
        , BBSAVAILABLE
        )
        VALUES
        ( (SELECT COUNT(*)+1
             FROM BBS ALIAS_FOR_SUBQUERY
          )
        , #{bbsTitle}
        , #{bbsContent}
        , NOW()
        , #{bbsName}
        , 1
        )
    </insert>

    <!--게시글 단건 조회-->
    <select id="selectByBbsId" resultType="com.example.myapp.bbs.vo.BbsVO">
        SELECT BBSID
             , BBSTITLE
             , BBSCONTENT
             , BBSDATE
             , BBSNAME
             , BBSAVAILABLE
          FROM BBS
        WHERE BBSID = #{bbsId}
    </select>
</mapper>